<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset=UTF-8 />
    <title>Courses</title>
</head>
<body>
<div>
    <form th:action="@{/course}" th:object="${course}" method="POST">
        <input type="text" th:field="*{name}" />
        <input type="text" th:field="*{tag}" />
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список Курсов</div>
<br>

  <table class="table">
      <thead>
      <td>Id</td>
      <td>Name</td>
      <td>Tag</td>
      </thead>
      <tbody>
          <tr th:each="cr : ${courses}">
              <td th:utext="${cr.getName()}"></td>
              <td th:utext="${cr.getTag()}"></td>
              <td><a th:href="@{/course/{id}(id=${cr.getId()})}">edit</a></td>
          </tr>
      </tbody>
  </table>

</body>
</html>